{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <a href="{{ path('message') }}" class="btn btn-primary">
        <h1>Acceder au messages</h1>
    </a>
{% endblock %}
